.breadcrumb {
  border-bottom: 1px solid #e1e1e1;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    @include for-tablet-landscape-up {
      justify-content: start;
    }

    ul {
      display: flex;
      li {
        margin: 0px 0px;
        a {
          font-weight: 700;
          font-size: 14px;
          color: #b0b0b0;
          &:hover {
            color: $secondary;
          }
        }
        ::after {
          content: ">";
          width: 20px;
          margin: 0 6px;
          padding: 0 6px 0 10px;
          text-align: center;
        }
      }

      :last-child :after {
        display: none;
      }
    }

    .current {
      color: $text;
    }
  }
}
